@use '../../sass/variables.scss' as variables;
@use '../../sass/mixin.scss' as mixins;
@use '../../sass/custom-theme.scss' as theme;

.main-container {
    @include mixins.full-height-container;
    @include theme.theme-surface;
    min-height: 100vh;
}

.app-container {
    @include mixins.flex-container;
    @include theme.theme-responsive-container;
    gap: var(--mat-sys-spacing-4);
    box-sizing: border-box;
    
    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        gap: var(--mat-sys-spacing-6);
    }
    
    .left-content,
    .right-content {
        @include theme.theme-surface;
        flex-grow: 1;
        padding: var(--mat-sys-spacing-4);
        box-sizing: border-box;
        
        .left-content-card,
        .right-content-card {
            @include theme.theme-card;
            padding: var(--mat-sys-spacing-4);
        }
    }
}