<mat-toolbar color="primary" class="main-header">
  
    <button mat-icon-button class="example-icon" aria-label="Menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    
    <span class="app-title">{{ appName() }}</span>
    
    <span class="spacer hide-on-mobile"></span>
    
    <button mat-icon-button class="example-icon hide-on-mobile" aria-label="Notifications icon">
      <mat-icon>notifications</mat-icon>
    </button>
    
    <button mat-icon-button class="example-icon hide-on-mobile" aria-label="User profile icon">
      <mat-icon>person</mat-icon>
    </button>
    
  </mat-toolbar>