@use '../../../sass/variables.scss' as variables;
@use '../../../sass/mixin.scss' as mixins;
@use '../../../sass/component-theme.scss' as theme;

$shared-padding: var(--mat-sys-spacing-4);

.main-container {
    @include mixins.full-height-container;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    app-header-component {
        position: sticky;
        top: 0;
        z-index: 1000;
        width: 100%;
    }
}

.app-container {
    @include mixins.flex-container;
    @include theme.theme-responsive-container;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    box-sizing: border-box;
    overflow: auto;
    
    .main-content {
        @include theme.theme-surface;
        width: 100%;
        max-width: 1200px;
        padding: var(--mat-sys-spacing-4);
        box-sizing: border-box;
        min-height: 100%;
        overflow-y: auto;
        border-radius: var(--mat-sys-corner-large);
        box-shadow: var(--mat-sys-level1);
    }
}